HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Папки
/target/
/bin/
/build/
/out/
/.gradle/
/.mvn/
/.settings/
/.vscode/
/.idea/

# Файлы
*.log
*.class
*.jar
*.war
*.ear
*.iml
*.ipr
*.iws

# Конфигурационные файлы
application.properties
application.yml

# Логи
logs/
*.log
